<div class="flex align-items-center">
  <button (click)="changeTheme('bootstrap4-dark-purple')" class="p-button-sm"
          pButton type="button" label="Bootstrap Purple Dark"></button>

  <button (click)="changeTheme('md-light-indigo')"
          class="p-button-sm" [style]="{'margin-left': '.5em'}"
          pButton type="button" label="MD Indigo Light"></button>

  <button (click)="changeTheme('md-dark-deeppurple')"
          class="p-button-sm" [style]="{'margin-left': '.5em'}"
          pButton type="button" label="MD Dark Deep Purple"></button>
</div>

<p-divider></p-divider>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" src="assets/istockphoto-1185953092-612x612.jpg">
  </ng-template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  </p>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>
</p-card>

<p-divider></p-divider>

<p-accordion>
  <p-accordionTab header="Header 1">
    Content 1
  </p-accordionTab>
  <p-accordionTab header="Header 2">
    Content 2
  </p-accordionTab>
  <p-accordionTab header="Header 3">
    Content 3
  </p-accordionTab>
</p-accordion>

<p-divider></p-divider>

<p-tag styleClass="p-mr-2" value="Primary"></p-tag>
<p-tag styleClass="p-mr-2" severity="success" value="Success"></p-tag>
<p-tag styleClass="p-mr-2" severity="info" value="Info"></p-tag>
<p-tag styleClass="p-mr-2" severity="warning" value="Warning"></p-tag>
<p-tag severity="danger" value="Danger"></p-tag>

<p-divider></p-divider>
<router-outlet></router-outlet>
